{#
##  Copyright 2021 Catgirl.Moe contributors <https://catgirl.moe>
##
##  Licensed with GNU Affero General Public License v3.0 or later
#}

<footer class="flex flex-none flex-nowrap items-center w-full px-4 py-2 bg-dark-4">
  <div class="w-2/3">
    <div class="flex float-left text-sm text-gray">
      © 2021&nbsp;<a class="text-footer" href="https://github.com/catgirlmoe">catgirl.moe</a>. All rights removed.
    </div>
  </div>
  <div class="w-1/3">
    <div class="flex float-right gap-4 text-lg">
      <a class="text-footer" href="https://github.com/catgirlmo/nekosu-web"><i class="mdi mdi-github"></i></a>
      <a class="text-footer" href="https://catgirl.moe/discord"><i class="mdi mdi-discord"></i></a>
    </div>
  </div>
</footer>