{#
##  Copyright 2021 Catgirl.Moe contributors <https://catgirl.moe>
##
##  Licensed with GNU Affero General Public License v3.0 or later
#}

{% extends "base.html" %}

{% block head %}
  <title>{{ config.name }} | Leaderboards</title>
  <meta content="{{ config.name }} | Leaderboards" property="og:title">
  <meta content="We are an osu! private server running a custom fork of gulag with many unique features nowhere seen before!" property="og:description">
  <script src="/assets/js/infiniteScroll.js"></script>
{% endblock %}

{% block content %}
<div class="flex justify-center h-full w-full py-8">
  <div class="bg-dark-700 rounded-2xl text-light-50">
    <div x-data="infiniteScroll('/api/stats/vn/std?sort=pp&limit=3&offset=0&page=', '#lbs-scroll-trigger')" x-init="init()">
      <template x-for="(item, index) in items">
        <tr class="py-2">
          <th class="p-1" x-text="'#' + (index + 1)"></th>
          <th class="p-1" x-text="item.name"></th>
          <th class="p-1" x-text="item.pp + 'pp'"></th>
          <th class="p-1" x-text="item.acc.toFixed(2) + '%'"></th>
          <th class="p-1" x-text="item.plays.toLocaleString()"></th>
          <th class="p-1" x-text="item.max_combo.toLocaleString()"></th>
        </tr>
      </template>
      <button id="lbs-scroll-trigger" x-on:click="loadMore()">Load More</button>
    </div>
  </div>
</div>
{% endblock %}