{#
##  Copyright 2021 catgirl.moe contributors <https://catgirl.moe>
##
##  Licensed with GNU Affero General Public License v3.0 or later
#}

<!DOCTYPE html>
<html>
<head>
  {% block head %}{% endblock %}
  {% include "partials/header.html" %}
</head>
<body class="flex flex-col h-screen overflow-y-hidden">
  {% include "partials/navbar.html" %}
  <div class="flex flex-col flex-1 bg-dark-5 w-full overflow-y-auto">
    <div class="flex-grow">
      {% block content %}{% endblock %}
    </div>
    {% include "partials/footer.html" %}
  </div>
</body>
</html>